[submodule "services/vault-web"]
	path = services/vault-web
	url = https://github.com/Vault-Web/vault-web.git
	branch = main
[submodule "services/cloud-page"]
	path = services/cloud-page
	url = https://github.com/Vault-Web/cloud-page.git
	branch = main
[submodule "services/password-manager"]
	path = services/password-manager
	url = https://github.com/Vault-Web/password-manager.git
	branch = main
[submodule "services/server-docs"]
	path = services/server-docs
	url = https://github.com/Vault-Web/server-docs.git
	branch = main
[submodule "services/vault-habits"]
	path = services/vault-habits
	url = https://github.com/Vault-Web/vault-habits.git
	branch = main
